
 <form action="/user/login" method="post">
 <label for="email">Email</label>
 <input type="email" name="email" class="form-control" required>
 <label for="password">Password </label>
 <input type="password" name="password" class="form-control" required>
 <button type="submit" class="btn btn-success mt-3">Login</button>